.content {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    gap: var(--small-indent);
    overflow: hidden;
}

.main {
    width: 972px;
    overflow-y: auto;
}

.mainCentered {
    margin: 0 auto;
}