
.informationBlock {
    width: 100%;
    margin-top: var(--small-indent);
    display: flex;
    justify-content: start;
    gap: var(--medium-indent);
    position: relative;
}

.informationBlock::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    height: 1px;
    background-color: var(--color-dark-300);
}

.userPhotoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--small-indent);
}

.avatarContainer {
    position: relative;
    width: fit-content;
}

.userPhoto {
    border-radius: 50%;
}

.deleteButton {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-dark-700);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    padding: 0;
    z-index: 1;
}

.deleteButton::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-danger-500);
    z-index: -1;
}

.deleteButton svg {
    width: 10px;
    height: 10px;
    color: var(--color-light-100);
    position: relative;
    z-index: 2;
}

.userInformation {
    width: 100%;
}